

.information{
    /* margin-left: 20px; */
}

.tituloFicha{
    font-size: 30px;
    margin-top: 30px;
    font-weight: 900;
    color: black;
}

.data{
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
    font-weight: 900;
    color: black;
}

.descripcion{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 0;
    font-weight: 100;
    color: black;
}

.tituloDescripcion{
    font-size: 30px;
    margin-top: 0;
    font-weight: 900;
    color: black;
}

.data-entry{
    font-size: 21px;
    font-weight: 100;
}

.moveButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,0.3) ;
}

.moveButton:hover{
    background: rgba(255,255,255,0.5) ;
}

.moveButton:focus{
    background: rgba(255,255,255,0.5) ;
}

.seen {
    margin-right: 5px;
    fill: white;
}

.seen:hover {
    fill: red;
}

.facebook{
    width: 100%;
    height: 100%;
}

.instagram{
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.proyectoWeb{
    width: 100%;
    height: 100%;
    margin-right: 10px;
    
}

.redSocial{
    margin-right: 20px;
    width: 35px;
    height: 35px;
}

.comentario{
    max-height: 150px;
    min-height: 50px;
    height: 100px;
    padding-right: 20px;
}

.UPictureModal{
    height: 70px;
    margin-right: 30px;
}